.header
	&-container
		display: flex
		justify-content: space-around
		align-items: center
	&-head
		padding-top: 40px
		padding-bottom: 40px
		border-bottom: 1px solid #F5E9E2
	&-nav
		> ul
			display: flex
			li
				list-style: none
		&__item
			margin-right: 70px
			color: $dark
			display: block
			padding: 3px
			font-family: 'WorkSans'
			font-weight: 300
			text-decoration: none
			text-transform: uppercase
			letter-spacing: 1px
			&:hover
				color: #E0BBA6
			&__active
				color: #E0BBA6
		&__drop
			display: none
	&-languages
		&__item
			margin-right: 15px
			img
				height: 20px
			&:last-child
				margin-right: 0

