.header
	position: relative
	background: url(../img/header/header-bg.png) no-repeat center 50%
	background-size: cover 
	height: 100vh
	padding-top: 45px
	position: relative
	z-index: 10
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgb(57, 45, 59)
		opacity: 0.5
		z-index: -1
	&-container
		display: flex
		flex-direction: column
		height: 100%
		max-width: 94%
	&-head
		display: flex
		justify-content: space-between
		align-items: center
	&-logo
	&-navbtn
		display: none
		position: absolute
		top: 39.5px
		right: 17px
		width: 40px
		height: 30px
		span
			position: relative
			width: 30px
			height: 2px
			display: block
			transition: .5s ease-in-out
			background-color: #fff
			&::before
				content: ''
				position: absolute
				top: -8px
				width: 30px
				height: 2px
				display: block
				transition: .5s ease-in-out
				background-color: #fff
			&::after
				content: ''
				position: absolute
				bottom: -8px
				width: 30px
				height: 2px
				display: block
				transition: .5s ease-in-out
				background-color: #fff
		&__active
			span
				height: 0
				background-color: transparent
				&::before
					top: 0
					transform: rotate(-45deg)
				&::after
					top: 0
					transform: rotate(45deg)
	&-nav
		&__item
			color: #fff
			font-size: 18px
			text-decoration: none
			text-transform: uppercase
			margin-right: 33px
			&:hover
				text-decoration: underline
	&-main
		display: flex
		flex-direction: column
		flex: 1
		justify-content: center
		align-items: center
		&__title
			font-size: 80px
			max-width: 180px
			border: 3px solid #fff
			padding: 10px
			margin-top: 60px
			margin-right: 100px
		&__subtitle
			position: relative
			font-weight: 400
			font-size: 46px
			max-width: 150px
			margin-top: 23px
			margin-right: 100px
			&::after
				content: ''
				position: absolute
				bottom: -25px
				left: -18px
				width: 176px
				height: 3px
				background: #fff

.lock-scroll
	overflow: hidden
