@font-face
	font-display: swap
	font-family: 'CodePro'
	font-style: normal
	font-weight: 400
	src: url('../fonts/CodePro-Regular.woff') format('woff'),
	url('../fonts/CodePro-Regular.ttf') format('truetype')
@font-face
	font-display: swap
	font-family: 'CodePro'
	font-style: normal
	font-weight: 700
	src: url('../fonts/CodePro-Bold.woff') format('woff'),
	url('../fonts/CodePro-Bold.ttf') format('truetype')
@font-face
	font-display: swap
	font-family: 'Rubik'
	font-style: normal
	font-weight: 500
	src: url('../fonts/Rubik-Medium.woff') format('woff'),
	url('../fonts/Rubik-Medium.ttf') format('truetype')
@font-face
	font-display: swap
	font-family: 'Rubik'
	font-style: normal
	font-weight: 400
	src: url('../fonts/Rubik-Regular.woff') format('woff'),
	url('../fonts/Rubik-Regular.ttf') format('truetype')
@font-face
	font-display: swap
	font-family: 'Rubik'
	font-style: normal
	font-weight: 300
	src: url('../fonts/Rubik-Light.woff') format('woff'),
	url('../fonts/Rubik-Light.ttf') format('truetype')

