.authors
	padding-top: 40px
	padding-bottom: 40px
	&-container
		display: flex
		flex-direction: column
		align-items: center
	&-title
		margin-bottom: 30px
		font-size: 30px
	&-blocks
		display: flex
		flex-direction: column
		align-items: center
	&-block
		display: flex
		margin-bottom: 80px
		color: $black
		&:nth-child(2)
			.authors-block__name
				margin-left: 0
				margin-right: 25px
				text-align: right
			.authors-block__text
				max-width: 670px
				margin-left: 0
				margin-right: 25px
		&__name
			margin-bottom: 10px
			margin-left: 25px
			font-family: 'Lato'
			font-weight: 600
		&__text
			max-width: 760px
			margin-left: 25px
			font-family: 'Lato'
			font-size: 18px
			font-weight: 300
			line-height: 28px
			&__o
				margin-bottom: 30px
		div
			display: flex
			flex-direction: column

@media (max-width: 1024px)
	.authors
		padding-top: 80px
		padding-bottom: 80px
		&-container
			text-align: center
			padding-left: 20px
			padding-right: 20px
		&-block
			margin-bottom: 40px
			flex-direction: column
			align-items: center
			max-width: 600px
			&:nth-child(2)
				.authors
					&-block
						&__name
							margin-right: 0
							text-align: center
						&__text
							margin-right: 0
			&:last-child
				margin-bottom: 0
			&__name
				margin-bottom: 20px
				margin-left: 0
			&__text
				margin-left: 0
				&__o
					margin-right: 0
			&__img
				order: 1
			div
				order: 3
			img
				margin-bottom: 30px
				height: 250px
				width: 250px

