.cost
	position: relative
	min-height: 830px
	&-container
		display: flex
		flex-direction: column
	&-title
		padding-top: 40px
		margin-bottom: 40px
		font-size: 36px
		color: $white
	&-blocks
		display: flex
		align-items: flex-end
	&-block
		padding-bottom: 40px
		max-width: 480px
		display: flex
		flex-direction: column
		font-family: 'Lato'
		&__blocks
			height: 170px
			width: 476px
			margin-bottom: 20px 
			display: flex
		&__block
			height: 170px
			width: 238px
			padding-left: 10px
			padding-right: 10px
			display: flex
			align-items: center
			text-align: center
			&:nth-child(1)
				background-color: #118613
				border:
					top: 4px solid $white
					bottom: 4px solid $white
					left: 4px solid $white
			&:nth-child(2)
				border:
					top: 4px solid $white
					right: 4px solid $white
					bottom: 4px solid $white
			&__title
				font-weight: 300
				font-size: 16px
				span
					display: inline-block
					margin-top: 7px
					line-height: 25px	
					font-size: 18px
					font-weight: 400
		&__advantages
			display: flex
			flex-direction: column
			margin-bottom: 50px
		&__advantage
			line-height: 34px
			font-weight: 500
			font-size: 24px
	&-text
		margin-bottom: 30px
		line-height: 25px
		font-weight: 400
	&-price
		font-weight: 400
		span
			font-weight: 500
			font-size: 40px
.sign-blocks
	position: relative
	margin-left: 80px
	height: 530px
	width: 390px
	transition: .3s all ease-in-out
.sign-in__form
	position: absolute
	height: 546px
	width: 390px
	padding: 35px 40px
	background-color: #fff
	color: $dark
	transition: .3s ease-in-out
	&__title
		margin-bottom: 35px
		font-family: 'CodePro'
		font-weight: 700
		font-size: 40px
		line-height: 40px
	.form
		&-input
			margin-bottom: 30px
		&-text
			font-size: 20px
		&-span
			&__1
				color: #118613
			&__2
				font-weight: 500
				display: inline-block
	.button
		background-color: #118613
.cost-modal
	position: absolute
	display: flex
	flex-direction: column
	align-items: center
	height: 546px
	width: 390px
	background-color: #fff
	text-align: center
	color: $dark
	display: none
	animation: hide 5s ease-out 
	animation-delay: 5s
	overflow: hidden
	img
		margin-bottom: 20px
	&__content
		padding: 80px 10px
	&__title
		margin-bottom: 15px
		font-family: 'CodePro'
		font-weight: 400
		font-size: 28px
	&__text
		color: #808080
		font-family: 'Lato'
		font-weight: 400
		line-height: 28px

@keyframes hide
	0% 
		height: 530px
	100%
		height: 0px

@media (max-width: 1024px)
	.cost
		padding-top: 10px
		&-container
			padding-left: 20px
			padding-right: 20px
			text-align: center
			align-items: center
			height: 100%
		&-title
			max-width: 300px
			padding-top: 30px
			margin-bottom: 0
		&-blocks
			flex-direction: column
			align-items: center
		&-block
			align-items: center
			max-width: 560px
			padding-top: 30px
			padding-left: 10px
			padding-right: 10px
			&__blocks
				height: 320px
				margin-bottom: 30px
				flex-direction: column
				align-items: center
				text-align: center
				margin: 0 auto
			&__block
				height: 320px
				width: 300px
				border: 3px solid $white!important
				border-bottom: none!important
				&:last-child
					border-bottom: 3px solid $white!important
			&__advantages
				padding-left: 40px
				margin-bottom: 30px
			&__advantage
				font-size: 18px
				text-align: left
				max-width: 340px
		&-text
			max-width: 350px
			margin-top: 40px
			font-size: 18px
		&-price
			span
				font-size: 30px
		&-modal
			width: 340px
			&__title
				font-size: 24px
	.sign-blocks
		margin-bottom: 40px
		margin-left: 0
		height: 560px
		width: 340px
	.sign-in__form
		width: 340px
@media (max-width: 360px)
	.cost
		&-text
			max-width: 290px
			font-size: 15px
		&-block
			&__advantage
				font-size: 17px
		&-modal
			width: 320px
			&__title
				font-size: 22px
	.sign-blocks
		width: 320px
	.sign-in__form
		width: 320px
		&__title
			font-size: 35px