.footer
	height: 80px
	background-color: #fff
	&-nav
		height: 100%
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		nav
			height: 100%
			display: flex
			align-items: center
			margin: 0 auto
			font-family: 'Lato'
			font-weight: 400
			line-height: 35px
			a
				color: $dark
				text-decoration: none
				margin-right: 32px
				&:hover
					border-bottom: 2px solid $purple
					transition: ease-in-out .1s
				&:last-child
					margin-right: 0
					border-bottom: 2px solid $purple