.info
	padding-top: 120px
	padding-bottom: 67px
	&-container
		display: flex
		flex-direction: column
		align-items: center
	&-title
		margin-bottom: 35px
		font-family: 'CodePro'
		font-size: 36px
		font-weight: 700
		line-height: 40px
		text-align: left
	&-blocks
		display: flex
		align-items: center
	&-block
		display: flex
		flex-direction: column
		align-items: center
		padding-top: 20px
		padding-bottom: 20px
		margin-right: 20px
		height: 440px
		width: 310px
		border-radius: 10px
		box-shadow: 0 0 20px rgba(39, 39, 39, 0.15)
		color: $dark
		text-align: center
		&:last-child
			margin-right: 0
		&:nth-child(1)
			.info-block__title
				margin-bottom: 24px
		&:nth-child(2)
			padding-top: 66px
			img
				margin-top: -20px
				margin-bottom: 33px
			.info-block__text
				max-width: 234px
		&:nth-child(3)
			padding-top: 23px
			.info-block__text
				max-width: 262px
		img
			margin-bottom: 15px
		&__title
			margin-bottom: 25px
			font-family: 'CodePro'
			font-size: 24px
			font-weight: 400
			max-width: 250px
		&__text
			max-width: 227px
			font-family: 'Lato'
			font-weight: 400
			line-height: 28px
			color: $dark
			span
				font-weight: 600
				display: block

@media (max-width: 1024px)
	.info
		padding-top: 70px
		padding-bottom: 70px
		text-align: center
		&-container
			padding-left: 20px
			padding-right: 20px
			text-align: center
		&-title
			margin-bottom: 40px
			font-size: 27px
			line-height: 30px
			max-width: 350px
		&-blocks
			display: flex
			flex-direction: column
			align-items: center
			width: 340px
		&-block
			margin-right: 0
			margin-bottom: 20px
			width: 100%
			max-width: 320px
			&:last-child
				margin-bottom: 0
	.media-container
		display: flex
		justify-content: center
		padding-left: 20px
		padding-right: 20px
@media (max-width: 768px)
	.info
		&-title
			font-size: 30px
@media (max-width: 320px)
	.info
		&-title
			font-size: 29px
		&-blocks
			width: 270px
		&-block
			max-width: 270px
			&:last-child
				.info-block__text	
					max-width: 240px