


@media screen and (min-height: 800px) and (max-height: 899px) and (orientation: landscape)
	.header
		&-title
			font-size: 58px!important
			line-height: 65px!important
		&-subtitle
			font-size: 18px!important
			line-height: 27px!important
		&-separator
			img
				height: 120px!important

@media screen and (min-height: 881px) and (max-height: 899px) and (orientation: landscape)
	.header-container
		max-width: 1050px!important
@media screen and (min-height: 841px) and (max-height: 880px) and (orientation: landscape)
	.header-container
		max-width: 1020px!important
@media screen and (min-height: 801px) and (max-height: 840px) and (orientation: landscape)
	.header-container
		max-width: 960px!important
@media screen and (min-height: 791px) and (max-height: 810px) and (orientation: landscape)
	.header-logo
		top: 50px!important
@media screen and (min-height: 760px) and (max-height: 790px) and (orientation: landscape)
	.header-logo
		top: 45px!important
@media screen and (min-height: 760px) and (max-height: 800px) and (orientation: landscape)
	.header-container
		max-width: 920px!important
@media screen and (min-height: 740px) and (max-height: 800px) and (orientation: landscape)
	.header-title
		line-height: 55px!important
@media screen and (min-height: 701px) and (max-height: 900px) and (orientation: landscape)
	.header
		&-container
			max-width: 880px
		&-logo
			top: 40px
			img
				height: 100px
		&-title
			line-height: 60px
			font-size: 60px
			margin-bottom: 10px
		&-subtitle
			margin-bottom: 60px
			font-size: 17px
			line-height: 25px
		&-separator
			img
				height: 110px
@media screen and (min-height: 740px) and (max-height: 815px) and (orientation: landscape)
	.modalDialog
		padding: 105px 100px 50px 100px
	.closeModal
		top: 40px!important


@media screen and (min-height: 600px) and (max-height: 680px) and (orientation: landscape)
	.header
		&-container
			max-width: 800px
		&-main
			padding-top: 110px
		&-title
			font-size: 50px
		&-subtitle
			margin-bottom: 40px
@media screen and (min-height: 991px) and (max-height: 1000px) and (orientation: landscape)
	.header-main
		padding-top: 245px
@media screen and (min-height: 971px) and (max-height: 990px) and (orientation: landscape)
	.header-main
		padding-top: 240px
@media screen and (min-height: 961px) and (max-height: 970px) and (orientation: landscape)
	.header-main
		padding-top: 235px
@media screen and (min-height: 931px) and (max-height: 960px) and (orientation: landscape)
	.header-main
		padding-top: 230px
@media screen and (min-height: 921px) and (max-height: 930px) and (orientation: landscape)
	.header-main
		padding-top: 222px
@media screen and (min-height: 901px) and (max-height: 920px) and (orientation: landscape)
	.header-main
		padding-top: 215px
@media screen and (min-height: 886px) and (max-height: 900px) and (orientation: landscape)
	.header-main
		padding-top: 219px
@media screen and (min-height: 871px) and (max-height: 885px) and (orientation: landscape)
	.header-main
		padding-top: 205px
@media screen and (min-height: 856px) and (max-height: 870px) and (orientation: landscape)
	.header-main
		padding-top: 200px
@media screen and (min-height: 836px) and (max-height: 855px) and (orientation: landscape)
	.header-main
		padding-top: 195px
@media screen and (min-height: 821px) and (max-height: 835px) and (orientation: landscape)
	.header-main
		padding-top: 190px
@media screen and (min-height: 811px) and (max-height: 820px) and (orientation: landscape)
	.header-main
		padding-top: 185px
@media screen and (min-height: 801px) and (max-height: 810px) and (orientation: landscape)
	.header-main
		padding-top: 180px
@media screen and (min-height: 791px) and (max-height: 800px) and (orientation: landscape)
	.header-main
		padding-top: 190px
@media screen and (min-height: 775px) and (max-height: 790px) and (orientation: landscape)
	.header-main
		padding-top: 185px
@media screen and (min-height: 761px) and (max-height: 775px) and (orientation: landscape)
	.header-main
		padding-top: 180px
@media screen and (min-height: 750px) and (max-height: 760px) and (orientation: landscape)
	.header-main
		padding-top: 175px
@media screen and (min-height: 740px) and (max-height: 749px) and (orientation: landscape)
	.header-main
		padding-top: 170px
@media screen and (min-height: 725px) and (max-height: 739px) and (orientation: landscape)
	.header-main
		padding-top: 164px
@media screen and (min-height: 711px) and (max-height: 725px) and (orientation: landscape)
	.header-main
		padding-top: 159px
@media screen and (min-height: 701px) and (max-height: 710px) and (orientation: landscape)
	.header-main
		padding-top: 170px
@media screen and (min-height: 676px) and (max-height: 700px) and (orientation: landscape)
	.header-main
		padding-top: 175px
@media screen and (min-height: 646px) and (max-height: 675px) and (orientation: landscape)
	.header-main
		padding-top: 170px
@media screen and (min-height: 626px) and (max-height: 645px) and (orientation: landscape)
	.header-main
		padding-top: 160px
@media screen and (min-height: 611px) and (max-height: 625px) and (orientation: landscape)
	.header-main
		padding-top: 150px
@media screen and (min-height: 596px) and (max-height: 610px) and (orientation: landscape)
	.header-main
		padding-top: 140px
@media screen and (min-height: 576px) and (max-height: 595px) and (orientation: landscape)
	.header-main
		padding-top: 130px
@media screen and (min-height: 556px) and (max-height: 575px) and (orientation: landscape)
	.header-main
		padding-top: 122px
@media screen and (min-height: 536px) and (max-height: 555px) and (orientation: landscape)
	.header-main
		padding-top: 121px
@media screen and (min-height: 511px) and (max-height: 535px) and (orientation: landscape)
	.header-main
		padding-top: 112px
@media screen and (min-height: 501px) and (max-height: 510px) and (orientation: landscape)
	.header-main
		padding-top: 95px
@media screen and (min-height: 495px) and (max-height: 500px) and (orientation: landscape)
	.header-main
		padding-top: 100px
@media screen and (min-height: 484px) and (max-height: 500px) and (orientation: landscape)
	.header-main
		padding-top: 100px

// logo
@media screen and (min-height: 990px) and (max-height: 1050px) and (orientation: landscape)
	.header-logo
		top: 66px!important
@media screen and (min-height: 960px) and (max-height: 989px) and (orientation: landscape)
	.header-logo
		top: 62px!important
@media screen and (min-height: 931px) and (max-height: 960px) and (orientation: landscape)
	.header-logo
		top: 64px!important
@media screen and (min-height: 881px) and (max-height: 900px) and (orientation: landscape)
	.header-logo
		top: 62px!important
@media screen and (min-height: 861px) and (max-height: 880px) and (orientation: landscape)
	.header-logo
		top: 60px!important
@media screen and (min-height: 831px) and (max-height: 860px) and (orientation: landscape)
	.header-logo
		top: 55px!important
@media screen and (min-height: 811px) and (max-height: 830px) and (orientation: landscape)
	.header-logo
		top: 52px!important

@media screen and (min-height: 646px) and (max-height: 700px) and (orientation: landscape)
	.header
		&-logo
			top: 45px!important
			img
				height: 80px!important
@media screen and (min-height: 621px) and (max-height: 645px) and (orientation: landscape)
	.header
		&-logo
			top: 40px!important
			img
				height: 75px!important
@media screen and (min-height: 580px) and (max-height: 620px) and (orientation: landscape)
	.header
		&-logo
			top: 35px!important
			img
				height: 75px!important
@media screen and (min-height: 550px) and (max-height: 579px) and (orientation: landscape)
	.header
		&-logo
			top: 33px!important
			img
				height: 60px!important
@media screen and (min-height: 550px) and (max-height: 700px) and (orientation: landscape)
	.header-separator
		img
			height: 100px!important


@media screen and (min-height: 450px) and (max-height: 700px) and (orientation: landscape)
	.header
		&-container
			max-width: 750px
		&-logo
			top: 28px
			img
				height: 60px
		&-main
			max-width: 800px
		&-title
			max-width: 800px
			margin-bottom: 5px
			line-height: 45px
			font-size: 39px
		&-subtitle
			max-width: 300px
			font-size: 13px
			line-height: 20px
			margin-bottom: 40px
		&-separator
			img
				height: 80px
			span
				font-size: 20px
@media screen and (min-width: 1151px) and (max-width: 1200px) and (max-height: 500px) and (orientation: landscape)
	.header-logo
		img
			height: 40px
	.header-main
		padding-top: 89px
@media screen and (min-width: 1100px) and (max-width: 1150px) and (max-height: 500px) and (orientation: landscape)
	.header-logo
		top: 25px
	.header-main
		padding-top: 95px
@media screen and (min-width: 1025px) and (max-width: 1100px) and (max-height: 600px) and (orientation: landscape)
	.header-container
		max-width: 620px
@media screen and (max-width: 1024px) 
	.header
		&-container
			max-width: 850px