.about
	padding-top: 60px
	padding-bottom: 70px
	position: relative
	&-pattern
		&__1
			position: absolute
			top: -220px
			height: 460px
			width: 290px
		&__2
			position: absolute
			top: 190px
			left: -40px
		&__3
			position: absolute
			height: 120px
			width: 120px
			top: 190px
			left: 70px
		&__4
			position: absolute
			height: 120px
			width: 120px
			top: -150px
			left: 200px
	&-blocks
		display: flex
		justify-content: space-between
		position: relative
		&__separator
			display: flex
	&-dog
		height: 360px
		width: 260px
		position: absolute
		left: 480px
		top: 210px
	&-block
		display: flex
		flex-direction: column
		width: 540px
		color: $dark
		&__title
			margin-bottom: 20px
			z-index: 900
		&__text
			position: relative
			font-size: 22px
			font-weight: 400
			color: #808080
			line-height: 32px
			&::before
				content: ''
				position: absolute
				bottom: -40px
				height: 12px
				width: 150px
				border-radius: 5px
				background-color: $yellow
		&__list
			position: relative
			margin-top: 100px
			display: flex
			flex-direction: column
			font-family: 'Rubik'
			font-size: 25px
			font-weight: 500
			&__title
				margin-bottom: 30px
			&__separator
				display: flex
				align-items: center
				margin-bottom: 20px
			&__pattern
				height: 12px
				width: 12px
				margin-right: 20px
				background-color: #0074dc
				border-radius: 10px
			&__text
				font-size: 20px
				font-weight: 400
	&-img
		height: 450px
		margin-top: 40px

@media (max-width: 1500px)
	.about
		padding-top: 60px
		padding-bottom: 50px
		&-pattern
			&__1
				height: 420px
				width: 280px
				top: -215px
			&__2
				top: 230px
			&__3
				top: 185px
				left: 50px
			&__4
				top: -130px
		&-block
			&__text
				font-size: 21px
				&::before
					height: 8px
			&__list
				&::before
					right: -140px
				&__title
					font-size: 22px
				&__pattern
					height: 10px
					width: 10px
				&__text
					font-size: 19px
		&-dog
			left: 440px
			height: 310px
			width: 210px
			top: 210px
		&-img
			height: 390px
			margin-top: 70px
@media (max-width: 1370px)
	.about
		padding-top: 20px
		&-pattern
			&__1
				height: 340px
				width: 230px
				top: -205px
			&__2
				top: 220px
			&__3
				top: 150px
				left: 40px
			&__4
				left: 180px