.advantages
	position: relative
	padding-bottom: 160px
	&-page
		content: ''
		position: absolute
		top: -60px
		left: 200px
		height: 145px
		width: 250px
		z-index: -1
	&-container
		display: flex
		flex-direction: column
		align-items: center
	&-img
		height: 680px
	&-items
		&__mobile
			display: none
	&-tools
		&__mobile
			display: none
	&-item
		position: absolute
		font-size: 22px
		font-weight: 600
		line-height: 30px
		text-align: center
		max-width: 340px
		&__1
			top: 140px
			left: 290px
		&__2
			top: 560px
			left: 160px
		&__3
			top: 870px
			left: 370px
		&__4
			top: 870px
			left: 1000px
			max-width: 300px
		&__5
			top: 560px
			left: 1160px
			max-width: 260px
		&__6
			top: 140px
			left: 1040px
			max-width: 350px
	&-specifications
		padding: 30px 60px 60px 60px
		display: flex
		flex-direction: column
		margin-top: 200px
		width: 803px
		background-color: #fff
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25)
		border-radius: 45px
		&__title
			margin-bottom: 35px
			font-size: 36px
			line-height: 50px
			font-weight: 600
			text-align: center
		&__item
			font-size: 25px
			font-weight: 600
			margin-bottom: 30px
			&:last-child
				margin-bottom: 0
			span
				font-weight: 500
	.section-title
		margin-bottom: 120px

@media (max-width: 1440px)
	.advantages
		&-page
			left: 70px
		&-item
			&__1
				top: 140px
				left: 170px
			&__2
				top: 560px
				left: 70px
			&__3
				top: 870px
				left: 230px
			&__4
				top: 870px
				left: 920px
				max-width: 300px
			&__5
				top: 560px
				left: 1070px
				max-width: 260px
			&__6
				top: 140px
				left: 920px
				max-width: 350px

@media (max-width: 1440px)
	.advantages
		&-page
			left: 70px
		&-item
			&__1
				top: 140px
				left: 140px
			&__2
				top: 560px
				left: 30px
			&__3
				top: 870px
				left: 210px
			&__4
				top: 870px
				left: 920px
				max-width: 300px
			&__5
				top: 560px
				left: 1040px
				max-width: 260px
			&__6
				top: 140px
				left: 850px
				max-width: 350px

@media (min-width: 1920px) 
	.advantages-page
		left: 290px

@media (max-width: 1024px)
	.advantages
		padding-top: 110px
		padding-bottom: 60px
		&-page
			top: 20px
			left: 20px
			height: 40px
			width: auto
		&-img
			display: none
		&-item
			display: none
			&__mobile
				display: flex
				flex-direction: column
				align-items: center
				margin-bottom: 30px
				&:last-child
					margin-bottom: 0
				img
					margin-bottom: 20px
				&__text
					display: inline-block!important
					position: static!important
					font-size: 16px
					line-height: 23px
					max-width: 230px
		&-container
			display: flex
			flex-direction: column
		&-tools
			&__mobile
				display: block
				height: 220px
				width: 100%
		&-items
			&__mobile
				display: flex
				flex-direction: column
				margin-bottom: 50px
		&-specifications
			align-items: center
			height: auto
			width: 100%
			margin-top: 50px
			border-radius: 0%
			&__title
				font-size: 24px
				line-height: 36px
			&__item
				font-size: 17px
				line-height: 25px
				width: 100%
		.section-title
			margin-bottom: 60px
		.container
			padding-left: 20px
			padding-right: 20px

@media (max-width: 320px)
	.advantages-tools__mobile
		height: 200px