.footer
	padding-top: 45px
	padding-bottom: 45px
	background-color: #1e1f1f
	color: #fff
	&-container
		display: flex
		justify-content: space-between
		align-items: center
	&-name
		font-family: 'Calibri'
		font-size: 17px
		font-weight: 400
	&-icons
		display: flex
		flex-direction: column
		img
			height: 35px
			width: 35px
		&__block
			display: flex
			align-items: center
			margin-bottom: 5px
			span
				margin-left: 8px
				font-family: 'Calibri'
				font-size: 14px
				font-weight: 300
	&-navigation
		display: flex
		flex-direction: column
	&-payment
		transform: translate(57px, 20px)
		display: flex
		img
			margin-left: 10px
			height: 30px
			width: 70px
		div
			display: flex
			align-items: center
			span
				font-family: 'Calibri'
				font-size: 14px
				font-weight: 300
	.header-nav__item
		&:hover
			color: #d9b126