.footer
	background: url(../img/footer/footer-bg.png) no-repeat center
	background-size: cover
	height: 500px
	&-container
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
	&-info
		display: flex
		justify-content: space-between
		align-items: center
	&-socials
		img
			margin-right: 10px
	&-text
		font-size: 20px
		font-weight: 300
		span
			font-weight: 500
	.header-head
		margin-top: 190px
	.header-phone
		padding: 15px 35px
@media (max-width: 1500px)
	.footer
		height: 440px
		.header-head
			margin-bottom: 80px
@media (max-width: 1099px)
	.footer
		.container
			padding-left: 25px
			padding-right: 25px
		.header
			&-phone
				display: none
			&-head
				margin-top: 80px
		&-text
			font-size: 14px
		&-info
			flex-direction: column
		&-socials
			margin-bottom: 30px