.header
	position: relative
	&-container
		padding-top: 20px
		padding-left: 20px
		padding-right: 20px
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
	&-title
		max-width: 280px
		margin-bottom: 22px
		&::before
			content: ''
			position: absolute
			top: 29px
			left: 0
			width: 60px
			height: 1px
			background-color: #e09340
		&::after
			content: ''
			position: absolute
			top: 29px
			right: 0
			width: 60px
			height: 1px
			background-color: #e09340
	&-info
		display: flex
		flex-direction: column
		margin-bottom: 30px
	&-phone
		display: flex
		align-items: center
		margin-bottom: 15px
		img
			margin-right: 10px
		a
			font-family: 'Rubik'
			font-size: 16px
			font-weight: 300
			text-decoration: none
			color: #fff
	&-location
		display: flex
		align-items: center
		img
			margin-right: 15px
		span
			font-family: 'Rubik'
			font-size: 16px
			font-weight: 300
	&-button
		position: relative
		display: flex
		align-items: center
		padding: 20px
		width: 289px
		height: 69px
		border: 2px solid #e09340
		border-radius: 15px
		text-decoration: none
		color: #fff
		font-family: 'Raleway'
		font-weight: 600
		line-height: 20px
		letter-spacing: 0.7px
		text-align: left
		z-index: 1000
		overflow: hidden
		&:hover
			box-shadow: 0 0 35px rgba(238, 172, 14, 0.35)
			background-image: linear-gradient(15deg, #e09340 0%, #d5621d 100%)
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 1.5em
			height: 100%
			background-color: rgba(255,255,255, 0.8)
			transition: 0.3s
			animation: move-light 1.8s infinite
	@keyframes move-light
		from
			transform: translateX(-1em) skewX(-45deg)
		to
			transform: translateX(23em) skewX(-45deg)
	&-text
		margin-bottom: 55px
	&-features
		padding-top: 45px
		position: relative
		display: flex
		justify-content: space-between
		width: 100%
		&::before
			content: ''
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -90%)
			height: 12px
			width: 12px
			background: url('../img/header/pattern.png') no-repeat
		&__1
			margin-bottom: 30px
			.header-feature
				&:last-child
					margin-right: 0
		&__2
			margin-bottom: 25px
			.header-feature
				&:last-child
					margin-right: 0
	&-feature
		max-width: 144px
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
		&:nth-child(2)
			span
				max-width: 80px
		img
			margin-bottom: 25px
		span
			font-size: 14px
			font-family: 'Raleway'
			font-weight: 500
			line-height: 18px
	&-notice
		margin-bottom: 8px
		font-family: 'Roboto'
		font-size: 10px
		font-weight: 400
		line-height: 16px
		letter-spacing: 0.5px
		color: #a9a9a9
		&:last-child
			margin-bottom: 0
	.button-container
		position: relative
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			height: 100%
			width: 100%
			background-color: #0c0a08
			border-radius: 15px
			opacity: 0.6
		&::after
			content: ''
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: 30px
			height: 36px
			width: 36px
			background: url('../img/header/button-pattern.png') no-repeat 
.pc-text
	display: none!important

@media (min-width: 1024px)
	.pc-text
		display: inline-block
		font-size: 30px
		color: #000
	.overlay
		display: none
	.header
		display: none
	.vr
		display: none
	.examples
		display: none
@media (min-width: 768px)
	.header-features
		justify-content: center

@media (max-width: 320px)
	.header-features
		margin-bottom: 20px
		.header-feature
			img
				margin-bottom: 20px
		&__1
			.header-feature
				margin-right: 40px
		&__2
			.header-feature
				margin-right: 38px

	.header
		&-info
			margin-bottom: 25px
		&-text
			margin-bottom: 45px