html 
	box-sizing: border-box
*, *:before, *:after  
	box-sizing: inherit 
body
	font-family: Calibri, Arial, Helvetica, sans-serif
	font-size: 14px

html, body
	max-width: 100%
	overflow-x: hidden
.container
	max-width: 1350px
	margin: 0 auto
.lock-scroll
	position: fixed
	height: 100%
	overflow: hidden
	width: 100%
.section-title
	font-family: 'Akrobat'
	font-size: 48px
	font-weight: 300
.section-subtitle
	margin-bottom: 60px
	font-family: 'Calibri'
	font-size: 22px
	font-weight: 300
.section-text
	font-family: 'Roboto'
	font-size: 20px
	font-weight: 300
