@media (min-width: 1100px) and (max-width: 1450px)
	.footer-container
		max-width: 1030px
@media (min-width: 1100px) and (max-width: 1300px)
	.advantages-container
		max-width: 1100px
	.advantages-block__text
		max-width: 190px
	.portfolio
		&-sliders
			max-width: 870px
		&-slider
			img
				height: 360px
@media (max-width: 1100px)
	.header
		&-navbtn
			display: block
		&-nav
			display: none
		&-main
			text-align: center
			&__title
				max-width: 200px
				font-size: 50px
				margin-bottom: 15px
			&__subtitle
				margin-bottom: 30px
				font-size: 30px
				p
					display: none
					margin: 0
				span
					margin: 0
			&__button
				font-size: 20px
				font-weight: 400
				padding: 15px 45px
				border: 1px solid #fff
				letter-spacing: 2px
		&-arrow
			img
				height: 60px
	.about
		padding-top: 70px
		padding-bottom: 70px
		&-container
			padding-left: 20px
			padding-right: 20px
		.section-text
			margin-bottom: 50px
			max-width: 350px
			font-size: 20px
			font-family: 'Calibri'
		.section-title
			margin-bottom: 80px
			font-size: 40px
			&::after
				top: 120px
		&-images
			flex-direction: column
			img
				height: 220px
				&:nth-of-type(1)
					margin-bottom: 130px
				&:nth-of-type(3)
					margin-top: 70px
			.about-arrow
				height: 40px
				transform: rotate(90deg)
	
	.features
		padding-top: 70px
		padding-bottom: 70px
		&-container
			padding-left: 20px
			padding-right: 20px
		&-blocks
			flex-direction: column
			align-items: center
		&-block
			padding-top: 50px
			padding-bottom: 50px
			height: 310px
			width: 330px
			
			img
				
			&:nth-child(2)
				padding-top: 50px	
			&:nth-child(3)
				padding-top: 48px
				.features-block__text
					max-width: 305px
			&:nth-child(5)
				padding-top: 45px
			&:nth-child(6)
				.features-block__text
					max-width: 300px
			&__title
				font-size: 20px
			&__text
				max-width: 540px
				font-size: 17px
		.section-title
			margin-bottom: 60px
			max-width: 271px
			font-size: 35px
		.section-text
			display: none
	.portfolio
		padding-top: 70px
		padding-bottom: 70px
		&-container
			padding-left: 20px
			padding-right: 20px
		.section-title
			font-size: 40px
		&-sliders
			
			max-width: 295px
			img
				height: 120px
				margin-bottom: 70px
		&-slider
			&__text
				font-size: 20px
				&::before
					content: none
				&::after
					content: none
		&-button
			max-width: 250px
			font-size: 16px
	.advantages
		padding-top: 70px
		padding-bottom: 70px
		&-container
			text-align: center
			padding-left: 20px
			padding-right: 20px
		&-blocks
			flex-direction: column
		&-block
			margin-right: 0
			margin-bottom: 40px
			&:last-child
				margin-bottom: 0
			&__text
				font-size: 18px
		.section-title
			font-size: 40px
	.order
		&-container
			padding-left: 20px
			padding-right: 20px
			text-align: center
		&-blocks
			flex-direction: column
			align-items: center
			text-align: left
		&-contacts
			margin-right: 0
		&-subtitle
			margin-top: 40px
			text-align: center
	.footer
		padding-left: 35px
		padding-right: 35px
		&-container
			flex-direction: column
			padding-left: 10px
			padding-right: 10px
		&-name
			margin-bottom: 20px
		&-nav
			display: none
		&-payment
			div
				display: none
		&-icons
			&__block
				&:last-child
					margin-bottom: 0
	.section-text
		font-family: 'Calibri'
		font-size: 30px
@media (min-width: 768px) and (max-width: 1100px)
	.header
		&-main
			&__title
				font-size: 60px
				max-width: 450px
			&__subtitle
				span
					font-size: 48px
			&__button
				font-size: 25px
		&-arrow
			img
				height: 75px
	.about
		.section-text
			max-width: 510px
	.features
		.section-title
			max-width: 570px
		&-block
			width: 350px
			&__title
				font-size: 21px
	.portfolio
		&-sliders
			max-width: 445px
			img
				height: 180px
		&-slider
			&__text
				max-width: 320px

				&__travel
					max-width: 340px
				&__restaurant
					max-width: 260px
				&__landing
					max-width: 400px
@media (max-width: 360px)
	.header-nav__item
		font-size: 40px!important
	.features-block
		width: 320px



