.message
	position: relative
	padding-top: 240px
	&-form
		width: 700px
		margin: 0 auto
		text-align: center
		display: flex
		flex-direction: column
		align-items: center
		form
			width: 70%
		&__title
			margin-bottom: 100px
			display: inline-block
	&-pattern
		position: absolute
		&__1
			top: 230px
			left: -140px
			height: 360px
		&__2
			left: 200px
			top: 360px
			height: 190px
		&__3
			left: 90px
			top: 520px
			height: 140px
	.demo-pattern__1
		top: 420px
		height: 130px
		right: 190px
	.demo-pattern__2
		height: 200px
		top: 570px
		right: 210px
	.demo-pattern__3
		top: 440px
@media (min-width: 1100px)
	.message-form
		height: 700px
@media (max-width: 1370px)
	.message
		&-pattern
			&__1
				height: 330px
				top: 230px
				left: -140px
			&__2
				left: 170px 
				height: 160px
			&__3
				left: 80px
				top: 500px
				height: 140px
	.demo-pattern__2
		height: 150px!important

@media (max-width: 1099px)
	.message
		padding-top: 70px
		&-form
			width: 100%
			form
				width: 90%
			&__title
				margin-bottom: 60px
		.container
			display: flex
			flex-direction: column
			align-items: center
			padding-left: 25px
			padding-right: 25px
	.message-pattern
		display: none
	.demo-pattern__3
		display: none